geopandas
rasterio
rioxarray
xarray
numpy
pandas
matplotlib
shapely
pyproj
fiona
rasterstats
libpysal
esda
splot
scikit-learn
statsmodels
scipy
pyyaml
tqdm
requests
streamlit
pydeck
folium
leafmap
geemap
earthengine-api
osmnx
mgwr
pymannkendall
